# 커피지수

## 1. 데이터로부터 4개 커피샵에 대한 정보 추출하기
- 상권중분류 : Q12
- 상호, 지점, 시도, 시군구, 도로명
- 서울 데이터 -> 스타벅스, 커피빈, 이디야커피, 빽다방
- 전국 데이터 -> 4개 커피샵

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/mnt')

Mounted at /content/mnt

In [3]:
data_folder = '/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630'

### 서울 데이터에서 4개 매장 정보 추출하기

In [8]:
df = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv', encoding='utf-8')
df.head(2)

     상가업소번호   상호명  지점명 상권업종대분류코드 상권업종대분류명  ...  동정보  층정보 호정보          경도         위도
0  17174175   비지트  NaN         Q       음식  ...  NaN    1 NaN  126.991394  37.488375
1  17174119  쓰리에프  NaN         Q       음식  ...  NaN  NaN NaN  126.980952  37.487105

[2 rows x 39 columns]

In [9]:
df = df[df.상권업종중분류코드 == 'Q12']
df = df[['상호명', '지점명', '시도명', '시군구명', '도로명']]
print(df.shape)
df.head()

(20832, 5)

       상호명          지점명    시도명 시군구명              도로명
28     커피빈  코리아대학로대명거리점  서울특별시  종로구    서울특별시 종로구 대명길
111  요거프레소          쌍문점  서울특별시  도봉구    서울특별시 도봉구 도당로
190  메머드커피          NaN  서울특별시  마포구   서울특별시 마포구 와우산로
197  우성커피숍          NaN  서울특별시  양천구    서울특별시 양천구 오목로
225   카페클럽          NaN  서울특별시  송파구  서울특별시 송파구 동남로2길

In [10]:
# na는 NaN 제외, case는 대소문자 무시
sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', na=False, case=False)]
print(sb.shape)
sb.head()

(489, 5)

              상호명      지점명    시도명  시군구명                도로명
1738         스타벅스   동숭로아트점  서울특별시   종로구      서울특별시 종로구 동숭길
2766  스타벅스남부터미널2점  남부터미널2점  서울특별시   서초구      서울특별시 서초구 효령로
3785         스타벅스      당산점  서울특별시  영등포구     서울특별시 영등포구 양평로
3933         스타벅스    가로수길점  서울특별시   강남구  서울특별시 강남구 논현로175길
3995  스타벅스미아사거리역점  미아사거리역점  서울특별시   강북구      서울특별시 강북구 도봉로

In [11]:
cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', na=False, case=False)]
cb.head()

              상호명           지점명    시도명 시군구명               도로명
28            커피빈   코리아대학로대명거리점  서울특별시  종로구     서울특별시 종로구 대명길
316   커피빈코리아낙성대역점      코리아낙성대역점  서울특별시  관악구   서울특별시 관악구 남부순환로
1470          커피빈  코리아강남역랭기지타워점  서울특별시  강남구  서울특별시 강남구 테헤란로4길
1491          커피빈      코리아청담성당점  서울특별시  강남구     서울특별시 강남구 삼성로
1506          커피빈      코리아청담에스점  서울특별시  강남구    서울특별시 강남구 압구정로

In [12]:
ed = df[df.상호명.str.contains('이디야|EDIYA', na=False, case=False)]
ed.head()

             상호명    지점명    시도명  시군구명              도로명
1272       이디야커피   신길역점  서울특별시  영등포구  서울특별시 영등포구 영등포로
1411       이디야커피   라이프점  서울특별시  영등포구   서울특별시 영등포구 63로
2433  이디야커피양재AT점  양재AT점  서울특별시   서초구    서울특별시 서초구 동산로
2785       이디야커피    시흥점  서울특별시   금천구    서울특별시 금천구 금하로
4498       이디야커피  개봉중앙점  서울특별시   구로구  서울특별시 구로구 개봉로3길

In [13]:
bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', na=False, case=False)]
bd.head()

               상호명       지점명    시도명 시군구명                 도로명
7607     빽다방공덕새창로점    공덕새창로점  서울특별시  마포구       서울특별시 마포구 새창로
8565      빽다방서초우성점     서초우성점  서울특별시  서초구      서울특별시 서초구 사임당로
19901  빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구     서울특별시 노원구 한글비석로
26972     빽다방성신여대점     성신여대점  서울특별시  성북구  서울특별시 성북구 동소문로20나길
27346    빽다방신림역1호점    신림역1호점  서울특별시  관악구     서울특별시 관악구 남부순환로

In [14]:
len(sb), len(cb), len(ed), len(bd)

(489, 169, 440, 127)

### 전국 데이터에서 4개 매장 정보 추출하기

In [15]:
starbucks = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
coffeebean = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
ediya = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])
paik = pd.DataFrame(columns=['상호명','지점명','시도명','시군구명','도로명주소'])

In [16]:
from glob import glob
for filename in glob(f'{data_folder}/*.csv'):
    print(filename)
    df = pd.read_csv(filename)
    df = df[df.상권업종중분류코드 == 'Q12']
    df = df[['상호명','지점명','시도명','시군구명','도로명주소']]

    sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False)]
    cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False)]
    ed = df[df.상호명.str.contains('이디야|EDIYA', case=False)]
    bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False)]

    starbucks = pd.concat([starbucks, sb])
    coffeebean = pd.concat([coffeebean, cb])
    ediya = pd.concat([ediya, ed])
    paik = pd.concat([paik, bd])

/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/data/소상공인시장진흥공단_상가(상권)정보_20210630/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv

In [20]:
starbucks.head(400).tail()

                   상호명       지점명    시도명  시군구명                도로명주소
114670            스타벅스    여의도일신점  서울특별시  영등포구    서울특별시 영등포구 은행로 11
114993  스타벅스커피여의도IFC1F       NaN  서울특별시  영등포구  서울특별시 영등포구 국제금융로 10
115692            스타벅스    보라매타운점  서울특별시   동작구  서울특별시 동작구 보라매로5길 43
116337            스타벅스      명동남산  서울특별시    중구     서울특별시 중구 퇴계로 132
118085            스타벅스  서울대치과병원점  서울특별시   종로구    서울특별시 종로구 대학로 101

In [21]:
len(starbucks), len(coffeebean), len(ediya), len(paik)

(1547, 293, 2120, 609)

In [22]:
result_dir = '/content/mnt/MyDrive/results/CoffeeIndex'

In [23]:
!mkdir -p $result_dir

In [24]:
starbucks.to_csv(f'{result_dir}/스타벅스.csv', index=False)
coffeebean.to_csv(f'{result_dir}/커피빈.csv', index=False)
ediya.to_csv(f'{result_dir}/이디야.csv', index=False)
paik.to_csv(f'{result_dir}/빽다방.csv', index=False)