# 데이터프레임 인덱스 조작

In [1]:
import numpy as np
import pandas as pd

## 인덱스 설정 및 제거

In [2]:
np.random.seed(2021)
df1 = pd.DataFrame(np.vstack([list('ABCDE'),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.61  0.13   0.1
1  B  0.73  0.18  0.06
2  C  0.14  0.75  0.96
3  D  0.31  0.66  0.62
4  E   1.0  0.78  0.09

In [5]:
df2 = df1.set_index('C1')
df2

      C2    C3    C4
C1
A   0.61  0.13   0.1
B   0.73  0.18  0.06
C   0.14  0.75  0.96
D   0.31  0.66  0.62
E    1.0  0.78  0.09

In [6]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.61  0.13   0.1
1  B  0.73  0.18  0.06
2  C  0.14  0.75  0.96
3  D  0.31  0.66  0.62
4  E   1.0  0.78  0.09

In [7]:
df2

      C2    C3    C4
C1
A   0.61  0.13   0.1
B   0.73  0.18  0.06
C   0.14  0.75  0.96
D   0.31  0.66  0.62
E    1.0  0.78  0.09

In [8]:
# df2.reset_index(inplace=True)
# df2 = df2.reset_index()

### 연습문제 4.5.1

In [9]:
np.random.seed(2021)
data = np.random.randint(40, 100, size=(5, 3))
df_score1 = pd.DataFrame(data, columns=['국', '영', '수'])
df_score1

    국   영   수
0  92  61  97
1  40  85  70
2  62  84  67
3  69  61  69
4  64  52  94

In [16]:
df_score1.index = ['Amy', 'Bob', 'Charllotte', 'David', 'Ellen']
df_score1.index.name = '이름'
df_score1

             국   영   수
이름
Amy         92  61  97
Bob         40  85  70
Charllotte  62  84  67
David       69  61  69
Ellen       64  52  94

In [17]:
df_score2 = df_score1.reset_index()
df_score2

           이름   국   영   수
0         Amy  92  61  97
1         Bob  40  85  70
2  Charllotte  62  84  67
3       David  69  61  69
4       Ellen  64  52  94

## 다중 인덱스

In [19]:
np.random.seed(0)
df4 = pd.DataFrame(np.round(np.random.randn(6, 4), 2),
                   columns=[["A", "A", "B", "B"],
                            ["C", "D", "C", "D"]],
                   index=[["M", "M", "M", "F", "F", "F"],
                          ["id_" + str(i + 1) for i in range(3)] * 2])
df4.columns.names = ["Cidx1", "Cidx2"]
df4.index.names = ["Ridx1", "Ridx2"]
df4

Cidx1           A           B
Cidx2           C     D     C     D
Ridx1 Ridx2
M     id_1   1.76  0.40  0.98  2.24
      id_2   1.87 -0.98  0.95 -0.15
      id_3  -0.10  0.41  0.14  1.45
F     id_1   0.76  0.12  0.44  0.33
      id_2   1.49 -0.21  0.31 -0.85
      id_3  -2.55  0.65  0.86 -0.74