# Pandas - Serise

In [1]:
import numpy as np
import pandas as pd

## 시리즈 생성

In [7]:
s = pd.Series([9904312, 3448737, 2890451, 2466052])
s

0    9904312
1    3448737
2    2890451
3    2466052
dtype: int64

In [8]:
s = pd.Series([9904312, 3448737, 2890451, 2466052], index=["서울", "부산", "인천", "대구"], dtype = np.int32)
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int32

In [10]:
# 시리즈의 값 - 넘파이 배열
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int32)

In [11]:
# 시리즈의 인덱스
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [14]:
s.name = '인구'
s.index.name = 'city'
s

city
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

## 시리즈의 연산

In [16]:
s / 1000000

city
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

## 시리즈 인덱싱

In [27]:
s[1], s['부산'], s.부산

(3448737, 3448737, 3448737)

In [18]:
# fancy indexing
s[[0,3,1]]

city
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int32

In [19]:
# slicing
s[1:3]

city
부산    3448737
인천    2890451
Name: 인구, dtype: int32

In [20]:
# 문자인덱스로 슬라이싱 하면 마지막도 포함
s['부산' : '대구']

city
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int32

In [22]:
# 필터링
# s[2500000 < s < 3000000] 은 사용불가
s[(2500000 < s) & (s < 3000000)]

city
인천    2890451
Name: 인구, dtype: int32

In [25]:
s[(25e5 > s) | (s > 4e6)]

city
서울    9904312
대구    2466052
Name: 인구, dtype: int32

## 시리즈와 딕셔너리

In [34]:
s2 = pd.Series({"서울":343, "busan":455})
s2

서울       343
busan    455
dtype: int64

In [36]:
'seoul' in s2, 'busan' in s2

(False, True)

## 인덱스 기반 연산

In [37]:
s - s2

busan          NaN
대구             NaN
부산             NaN
서울       9903969.0
인천             NaN
dtype: float64

In [38]:
s.values - s2.values

ValueError: ignored

In [40]:
rs = (s-s2)/s2 * 100
rs

busan             NaN
대구                NaN
부산                NaN
서울       2.887455e+06
인천                NaN
dtype: float64

In [41]:
rs.notnull()

busan    False
대구       False
부산       False
서울        True
인천       False
dtype: bool

In [43]:
rs[rs.notnull()]

서울    2.887455e+06
dtype: float64

## 데이터의 갱신, 추가, 삭제

In [44]:
rs['부산'] = 1.63
rs

busan             NaN
대구                NaN
부산       1.630000e+00
서울       2.887455e+06
인천                NaN
dtype: float64

In [45]:
rs['some'] = 1.41
rs

busan             NaN
대구                NaN
부산       1.630000e+00
서울       2.887455e+06
인천                NaN
some     1.410000e+00
dtype: float64